.content {
    padding-top: 70px;

    &__head{
        img{
            width: 95%;
        }
    }
    &__form {
        padding: 0px 80px;
    }
    .nameGroup{ 
        padding: 20px 14px;
    }
    h3{
        color: rgb(184, 173, 173);
        text-transform: uppercase;
        font-size: 17px;
    }
    label {
        color: rgb(184, 173, 173);
    }
    input{
        background-color: #0D263E;
        border-color: #1C3F5B;
        outline: none;
        &:active{
            background-color: white;
        }
    }
   
    .form {
        background-image: url(../../assets/imgs/bg-regis-bt.png),
            url(../../assets/imgs/bg-resgister-pg.png);
        background-color: #13273E;
        background-position: bottom left, top left;
        background-repeat: no-repeat, no-repeat;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 100px;

        .rowContent {
            padding: 20px 14px 0 14px;                   
        }
        select{
            background-color: white;
        }
        .cmnd{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .doneIcon{
                color: rgb(16, 184, 170);
            }
        }
        .btnRegister{
            background: url(../../assets/imgs/btn-dangky.png);
            background-position: center center;
            background-repeat: no-repeat;
            // background-size: cover;
            width: 100%;
            min-height: 8vh;
            cursor: pointer;
            background-color: none;
            border: none;
            outline: none;
            &:hover {
                background-image: url(../../assets/imgs/btn-dangky-hv.png);
            }
        }
        .fileUpload{
            width: 97%;
            color:transparent;
        }
    }
}
@media screen and (max-width: 575.98px)  {

   .content{
    &__form {
        padding: 0px 10px;
    }
   }
}