
*, *::before, *::after {
    box-sizing: border-box
}
.videos-bg {
    object-fit: cover;
    position: fixed;
    filter: opacity(0.3);
    z-index: -1;
    bottom: 0;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;

    span {
        color: white;
    }

    .home__left {
        margin-right: 50px;
        zoom: 0.9;
        padding-left: 15%;
        //margin-top: -150px;

        .home__left--btn {
            .btn__register {
                background-image: url(../../assets/imgs/btn-dangky.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                list-style: none;
                color: rgba(255, 255, 255, 0.50) !important;
                width: 100%;
                min-height: 8vh;

                &:hover {
                    background-image: url(../../assets/imgs/btn-dangky-hv.png);
                }
            }
        }

        .home__left--btnList {
            padding: 5px 0;
            display: flex;
            align-items: center;

            &:hover {
                a {
                    color: #E9CB03;
                }

                .svg__inline--fa {
                    color: #E9CB03;
                }
            }

            a {
                text-decoration: none;
                color: rgb(184, 173, 173);
                margin-left: 5px;
            }

            .svg__inline--fa {
                width: 15px;
                color: rgb(184, 173, 173);
            }
        }

        .home__left--list {

            width: 100%;

            .list__container {
                background-image: url(../../assets/imgs/bg-bx-if.png);
                width: 100%;
                background-size: auto;
                background-repeat: no-repeat;

                .list__header {
                    padding: 28px 0px 0px 80px;

                    h4 {
                        color: white;
                        font-family: myFirstFont;
                        padding: 0;
                        margin: 0;
                    }
                }

                .list__content {
                    padding: 10px 20px;

                    .list__content--table {
                        height: 117px;
                        overflow-y: scroll;
                        
                    }

                    .table {
                        zoom: 0.8;

                        thead {
                            border: 1px solid rgba(255, 255, 255, 0.20);
                        }

                        tbody {
                            border: 1px solid rgba(255, 255, 255, 0.20);

                            td {
                                border-top: 1px solid rgba(255, 255, 255, 0.2);
                            }
                        }
                    }

                    .list__content--header {
                        padding: 10px 0 6px 1px;
                        margin-top: 10px;

                        span {
                            color: rgba(255, 255, 255, 0.50);
                        }

                        p {
                            float: right;
                            margin-right: 10px;
                        }
                    }

                    h5 {
                        color: rgba(255, 255, 255, 0.50);
                        text-transform: uppercase;
                        font-size: 0.9rem;
                    }

                    .d-table {

                        font-size: 12px;
                        color: white;
                        border: 1px solid rgb(184, 173, 173);
                        ;
                    }
                }
            }
        }
    }

    .home__right {
        position: relative;
        width: 100%;

        .guide {
            position: absolute;
            top: 20%;
            left: 35%;
        }
        
        .map-vn path {
            fill: #FD0;
            outline: none;
            cursor: pointer;
        }

        .map-vn path:hover {
            fill: #E9CB03;
            outline: none;
            cursor: pointer;
        }
        .map-vn {
            background-image: url(../../assets/imgs/map-shadow.png);
            background-position: -27px 10px;
            background-repeat: no-repeat;          
        }
    }

}

@media screen and (max-width: 575.98px) {
    .home {
        display: inline;
        justify-content: center;
        align-items: center;

        .home__left {
            padding-top: 50px;
        }

        .home__right {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .home {

        .home__left {
            padding-left: 15px;
        }

    }
}