.listTeam__content--head{
    img{
        width: 90%;
        padding-top: 70px;
    }
}
.listItem__content--mid{
    
    padding: 0 78px;
    .content__mid{
        background-image: url(../../assets/imgs/bg-regis-bt.png), url(../../assets/imgs/bg-rule.png);
        background-color: #13273E;
        background-position: bottom left, top left;
        background-repeat: no-repeat, no-repeat;
        background-size: auto;
        width: 100%;
        padding-bottom: 15px;

        .tbCustom{
            zoom: 0.5;
            border: 1px solid rgba(255,255,255,0.20);
            color: white;
            font-size: 25px;
            font-weight: 400;
            td{
                border-top: 1px solid rgba(255,255,255,0.20);
            }
        }
        .content__mid--inline{
            padding: 20px 15px;
            .content__mid--sl{
                display: flex;
                align-items: center;
            }
            h3{
                color: rgba(255,255,255,0.80);
                text-transform: uppercase;
                font-size: 17px;
            }
            p{
                color: rgba(255,255,255,.5);             
            }
            span{
                margin-left: 10px;
                margin-top: -12px;
            }
        }
    }
}
@media screen and (max-width: 575.98px)  {

    .listItem__content--mid{
         padding: 0px 10px;
    }
 }