@font-face {
    font-family: 'myFirstFont';
    src: local('assets'), url(../../assets/fonts/UTMHanzel.ttf) format('opentype');
}


.navBar{
    padding: 5px 2rem;
    position: fixed;
    width: 100%;
    background-color: rgb(14, 29, 35) !important;
    z-index: 1000;

    .navItem{
        color: rgba($color: #ffffff, $alpha: .5);
        font-weight: 500;
        text-transform: uppercase;
        line-height: 30px;
        font-family: myFirstFont;
        text-decoration: none;
        padding: 7px 58px;
        font-size: 17px;
        &:hover{
            color: rgba($color: #ffffff, $alpha: .7);
        }
    }
    .active{
        background-image: url(../../assets/imgs/bg-btn-active.png);;
        color: white;       
        background-size: cover;
    }
   
    &__menu{
        margin-left:30px ;
    }
}