.notFound{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top:40%;
    h3{
        color: white;
        font-size: 40px;
    }
}