.rulePage {
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: center;
    padding-top: 80px;
    flex-direction: column;
    img{
        width: 100%;
    }

    .rulePage__content {
      
        
        padding: 0 230px;
        .rulePage__content--inline{
            background-image: url(../../assets/imgs/bg-regis-bt.png), url(../../assets/imgs/bg-rule.png);
            background-color: #13273E;
            background-position: bottom left, top left;
            background-repeat: no-repeat, no-repeat;
            background-size: contain;
            width: 100%;
            padding: 50px 120px;
            .wingding{
                font-family: Wingdings
            }
        }
        .content__text {
            color: rgba(255, 255, 255, 0.8);
        }

        .content__text--inline{
            color: rgba(255, 255, 255, 0.5);
        }

        table{
            th{
                border-bottom: none;
                text-align: center;
                color: rgba(255, 255, 255, 0.7);
                font-weight: bold;
            }
            td{
                color: rgba(255, 255, 255, 0.6);
            }
            .titleTb{
                background-color: yellow;
                color: #13273E;
                opacity: 0.7;
            }
        }

        .content__btn {
            text-align: center;
            padding: 30px 0 ;

            .btnSubmit {
                background-image: url(../../assets/imgs/btn-dangky.png);
                background-position: center center;
                background-repeat: no-repeat;
                display: inline-block;               
                list-style: none;
                color: rgba(255, 255, 255, 0.50) !important;
                min-height: 10vh;
                width: 100%;
                background-size: contain;

                &:hover {
                    background-image: url(../../assets/imgs/btn-dangky-hv.png);
                }
            }
        }
    }
}
@media screen and (max-width: 575.98px)  {
  

    .rulePage__content {
        width: 100%;
        padding: 0 30px !important;

        .content__btn {
            padding: 0 !important;
        }
        .rulePage__content--inline{
            padding: 40px !important;
        }
        .content__btn {
            text-align: center;
            padding: 0 !important;

            .btnSubmit {
                background-size: contain;
            }
        }
    }
}
