@import './Reset/reset';
@import './components/navbar';
@import './components/home';
@import './components/rules';
@import './components/modal';
@import './components/formRegister';
@import './components/listTeam';
@import './components/notFound';




body{
    
    width: 100%;
    background-image: url(../assets/imgs/bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}